asgiref==3.7.2 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
django-bootstrap-v5==1.0.11 ; python_version >= "3.11" and python_version < "3.13"
django-markdownx==4.0.5 ; python_version >= "3.11" and python_version < "3.13"
django==4.2.7 ; python_version >= "3.11" and python_version < "3.13"
markdown2==2.4.10 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.5.1 ; python_version >= "3.11" and python_version < "3.13"
markdownify==0.11.6 ; python_version >= "3.11" and python_version < "3.13"
pillow==10.1.0 ; python_version >= "3.11" and python_version < "3.13"
psycopg2-binary==2.9.9 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.13"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
